<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>小田急線の駅</title>
</head>
<body>
  <h2>小田急線の駅の詳細</h2>

  <table border="1">
    <tr>
      <th>ID</th><th>駅コード</th><th>駅名</th>
    </tr>

    <% for (let row of data) { %>
      <tr>
        <td><%= row.id %></td>
        <td><%= row.code %></td>
        <td>
          <a href="/odakyu_detail?id=<%= row.id %>">
            <%= row.name %>
          </a>
        </td>
      </tr>
    <% } %>
  </table>

  <a href="/odakyu/create">駅情報を追加する</a>
</body>
</html>
        